@import url('./../styles.less');

header {
    .flex();
}

.links {
    .flex();

    flex: 1;

    &__brand {
        .flex();
        margin-right: 1em;

        div {
            img {
                margin-right: 1em;
            }
        }
    }

    a {
        .flex();
        flex: 1;
        padding: 1em;
        border-radius: 5px;
        transition: all 0.3s ease;

        &:hover {
            background: lightgray;
        }
    }
}